<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:sec="http://www.springframework.org/schema/security"
  xsi:schemaLocation="
     http://www.springframework.org/schema/security 
     http://www.springframework.org/schema/security/spring-security-3.2.xsd
     http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"> 

	<http auto-config="true"  use-expressions="true">
		<form-login login-page="/login"
			login-processing-url="/authenticateUser" default-target-url="/"
			authentication-failure-url="/login" username-parameter="username"
			password-parameter="password" />
			
			<sec:access-denied-handler error-page="/403.jsp" />
	<intercept-url pattern="/login" access="permitAll" />
	
		 <sec:intercept-url pattern="/**" access="hasAuthority('AUTH_USER')" />
		<session-management invalid-session-url="/login" />
        <logout delete-cookies="JSESSIONID" invalidate-session="true" logout-success-url="/login.do" />
	</http>
	
<!-- 	<authentication-manager> -->
<!-- 	  <authentication-provider> -->
<!-- 	    <user-service> -->
<!-- 		<user name="tony" password="123" authorities="ROLE_USER" /> -->
<!-- 	    </user-service> -->
<!-- 	  </authentication-provider> -->
<!-- 	</authentication-manager> -->

	<authentication-manager erase-credentials="false">
		<authentication-provider ref="userAuthProvider" />
		
	</authentication-manager> 
	
		 <beans:bean id="userAuthProvider" class="com.stocktracker.auth.UserAuthenticationProvider" >
<!-- 	 			<beans:property name="passwordEncoder" ref="passwordEncoder" /> -->
	 	</beans:bean>
	 	
	 	
	<beans:bean id="passwordEncoder" class="org.springframework.security.crypto.password.StandardPasswordEncoder" />


</beans:beans>